<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}BBK links!{% endblock %}</title>
        
        <link href="{{ asset('reset.css') }}" rel="stylesheet" media="screen" />
		<link href="{{ asset('main.css') }}" rel="stylesheet" media="screen" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    	{{ include('header-connected.html') }}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
