<div id="header">
    <h1>Temporary links</h1>
		<div id="user" class="form user">
	    	<form action="/connect" method="post">
	    		<input type="text" placeholder="email" name="login" value=""/>
	    		<input type="password" placeholder="***" name="pswd" value=""/>
	    		<input type="submit" value="login or register" name="submit" class="submit"/>
	    	</form>		
	    </div>
 </div>