{% extends 'base-connected.html' %}

{% block body %}
	<div id="create-link">
		<form action="/create-link" method="post">
			<input type="text" placeholder="deep link" name="target"  value=""/>
    		<input type="text" placeholder="comment"   name="comment" value=""/>
    		<input type="submit" value="create link"   name="submit"  class="submit"/>
		</form>
	</div>
	
    <div id="content">
    	{% if links %}
    		<div id="list-links">
    			{% for link in links %}
		            <p>deep link: {{ link.target|e }}</p>
		            <!-- <p>gen link: http://domain.com/r/{{ link.hash|e }}</p>-->
		            <p>gen link: http://localhost:8000/r/{{ link.hash|e }}</p>
		            <p>{{ link.comment|e }}</p>
		            <a href="/delete/{{link.id}}">delete</a>
		            <a href="/renew/{{link.id}}">renew</a>
		            <hr />
		        {% endfor %}
    		</div>
		{% else %}
		<p id="connect-text">
		    You have no links.
		</p>
		{% endif %}
    </div>
{% endblock %}
