{% extends 'base.html' %}

{% block body %}
    <div id="content">
    	<p id="connect-text">
    		No account matches.
    	</p>
    	<p id="connect-text">
    		<a href="/confirm-registration">Create this account</a>
    	</p>
    </div>
{% endblock %}
