body {
	font-family: Arial;
}

#header {
	width:100%;
	position:absolute;
	padding: 20px;
	background-color: black;
	color:white;
	height:50px;
	font-size: 2.0em;
}

#header .user {
	position:absolute;
	right: 60px;
	top:20px;
}

#header .user input[type="text"], #header .user input[type="password"] {
	height:25px;
	width:200px;
}

#header .user .submit {
	border: solid 1px #ddd;
	vertical-align: bottom;
	padding:2px 5px;
	background-color: #7b7;
	color:#eee;
	font-size: 20px;
} 

#create-link {
	text-align:center;
	background-color:#555;
	padding: 20px;
	padding-top:110px;
}

#create-link .submit {
	border: solid 1px #ddd;
	vertical-align: bottom;
	padding:2px 5px;
	background-color: #7b7;
	color:#eee;
	font-size: 20px;
} 

#create-link input[type="text"] {
	height:25px;
	width:300px;
}

#list-links {
	margin:auto;
	width:710px;
	margin-top:-100px;
}

#content {
	padding-top:150px;
}

#connect-text {
	margin-top:40px;
	padding:30px;
	color:#AAA;
	font-size:5em;
	text-align:center;
	text-shadow: 0px 0px 2px rgba(150, 150, 150, 1);
	text-shadow:
   -1px -1px 0 #777,  
    1px -1px 0 #777,
    -1px 1px 0 #777,
     1px 1px 0 #777;
}

#connect-text a, .user a {
	color:#AAA;
}
